site_name: SuperComputing Luxembourg - National Competence Center
nav:
    - Trainings organization: 'index.md'
    - Courses:
      - CUDA:
        - Introduction: 'cuda/index.md'
        - Preparation: 'cuda/preparation.md'
        - Hands-On:
          - Hello World: 'cuda/exercise-1.md'
          - Vector Addition: 'cuda/exercise-2.md'
          - Matrix Multiplication: 'cuda/exercise-3.md'
          - Shared Memory: 'cuda/exercise-4.md'
          - Unified Memory: 'cuda/exercise-5.md'
          - Profiling and Performance: 'cuda/profiling.md'
      - OpenMP:
        - Introduction: 'openmp/index.md'
        - Preparation: 'openmp/preparation.md'
        - Hands-On:
          - Parallel Region: 'openmp/exercise-1.md'
          - Data Sharing Attribute: 'openmp/exercise-2.md'
          - Work Sharing Constructs(loop): 'openmp/exercise-3.md'
          - Work Sharing Constructs(loop-scheduling): 'openmp/exercise-4.md'
          - Worksharing Constructs(others): 'openmp/exercise-5.md'
          - SIMD and Others: 'openmp/exercise-6.md'
          - Profiling and Performance: 'openmp/profiling.md'
      - OpenACC:
        - Introduction: 'openacc/index.md'
    - Bootcamp:
      - AI:
        - Introduction: 'Bootcamps/ai/introduction.md'
    - Hackathons:
      - HPDA:
        - Introduction: 'Hackathons/hpda/introduction.md'

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  
extra_javascript:
   - javascripts/mathjax.js
   - https://polyfill.io/v3/polyfill.min.js?features=es6
   - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
      
theme:
  name: material
  logo: 'figures/Logo_SC_Luxembourg.png'
  features:
    - navigation.footer
    - navigation.instant
    - navigation.tracking
    - content.action.edit
    - content.action.view
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - header.autohide
    - toc.follow
    - content.code.copy
    - content.code.select
    - content.code.annotate 

  #palette:
    #- primary: black
  language: en
  palette:
    primary: blue
    accent:  light blue

  palette: 

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
#    - navigation.instant
    - navigation.tabs
    - navigation.footer
    
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16


# Extensions
markdown_extensions:
  - meta
  - attr_list
  - md_in_html
  - footnotes
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols:
      fractions: false
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true 
  # code blocks with syntax highlighting, graphs
  - pymdownx.superfences:
        custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # clickable details
  - pymdownx.details
  # tabbed contents
  - pymdownx.tabbed
  - toc:
      permalink: true
  - pymdownx.keys
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true



plugins:
  - search:
#      prebuild_index: false
  - minify:
      minify_html: true
  - glightbox
  - git-revision-date-localized:
      type: datetime
      custom_format: "%d. %B %Y"
      timezone: Europe/Amsterdam
      locale: en
      fallback_to_build_date: false
      enable_creation_date: true
      enabled: true
      strict: true
      

# Extra stylesheets (incl. Twitter Bootstrap)
extra_css:
  - stylesheets/extra.css
  # - stylesheets/bootstrap.min.css


extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/EuroCC_Lux
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/eurocc-luxembourg/

  analytics:
    provider: google
    property: G-YR6MCK5PME
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.


copyright: Copyright &copy; 2023 <a href="https://ezhilmathik.github.io/personal-site/">Ezhilmathi Krishnasamy</a> and <a href="https://supercomputing.lu/">SuperComputing Luxembourg</a>
